@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #f6e8e2;
  --orange: #ef8645;
  --green: #24372a;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*,
html {
  scroll-behavior: smooth !important;
}

/* ------ Headings ------- */

h2 {
  @apply text-3xl tracking-wider;
}

@media (min-width: 770px) {
  .project-arrow {
    transition: all 0.4s ease-in-out;
  }

  .project-card:hover .project-arrow {
    transform: translate(5px, -5px);
  }
}