@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --white: #f6f2f0;
  --beige: #b7aa9b;
  --beige-2: #8c7e6d;
  --brown: #433c35;
  --dark-brown-1: #1b1a1a;
  --dark-brown-2: #2b2929;
  --bg-black-1: #080808;
  --bg-black-2: #0b0a0a;
  --bg-black-3: #171515;
}

*,
html {
  scroll-behavior: smooth !important;
}

/* ------ Headings ------- */

h2 {
  @apply text-3xl tracking-wider;
}

body {
  background: linear-gradient(75deg, var(--bg-black-1), var(--bg-black-3),
      var(--bg-black-2), var(--bg-black-3), var(--bg-black-1));
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  transition: all 0.4s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ------ Hero Parallax ------- */
.parallax-wrapper {
  perspective: 15px;
}

.hero {
  transform-style: preserve-3d;
  transition: all 0.9s;
}

.parallax-boops {
  position: absolute;
  left: 0;
  z-index: -1;
  transition: all 0.9s;
}

#parallax-top-boops {
  -ms-transform: translateZ(-10px) scale(2);
  -webkit-transform: translateZ(-10px) scale(2);
  -moz-transform: translateZ(-10px) scale(2);
  -o-transform: translateZ(-10px) scale(2);
  transform: translateZ(-10px) scale(1.6);
}

#parallax-top-tendrils1 {
  -ms-transform: translateZ(-15px) scale(2.6);
  -webkit-transform: translateZ(-15px) scale(2.6);
  -moz-transform: translateZ(-15px) scale(2.6);
  -o-transform: translateZ(-15px) scale(2.6);
  transform: translateZ(-15px) scale(2);
}

#parallax-top-tendrils2 {
  -ms-transform: translateZ(-17px) scale(2.8);
  -webkit-transform: translateZ(-17px) scale(2.8);
  -moz-transform: translateZ(-17px) scale(2.8);
  -o-transform: translateZ(-17px) scale(2.8);
  transform: translateZ(-17px) scale(2.2);
}

@media screen and (max-width: 1400px) {
  .parallax-boops {
    top: -5%;
  }
}

@media screen and (max-width: 1205px) {
  .parallax-boops {
    top: -25%;
  }
}

@media screen and (max-width: 1105px) {
  .parallax-boops {
    top: -20%;
  }
}

@media screen and (max-width: 882px) {
  .parallax-boops {
    top: -50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}