@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #f6f2f0;
  --orange: #ef8645;
  --green: #24372a;
  --dark-green-1: #111f1b;
  --dark-green-2: #192c26;
  --orb-outer: #0c412c;
  --orb-inner: #914618;
  --orb-center: #ef8645;
  --background: #081712;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*,
html {
  scroll-behavior: smooth !important;
}

/* ------ Headings ------- */

h2 {
  @apply text-3xl tracking-wider;
}

body {
  background-color: var(--background);
}

/* Animated Background */
#background {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0;
  z-index: -1;
}

#background::before,
#background::after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 35%;
}

#background::after {
  background: #000000;
  filter: url(#noiseFilter);
  z-index: 2;
  opacity: 15%;
}

/* orb Container */
#orb-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 100vh;
  width: 100%;
  position: absolute;
}

/* orbs */
.orb {
  filter: blur(30px);
  position: absolute;
  z-index: 1;
  animation: orb-anim 15s infinite linear;
}

.orb-outer {
  background-color: var(--orb-outer);
  border-radius: 600px;
  opacity: 20%;
  height: 600px;
  width: 600px;
}

.orb-inner {
  background-color: var(--orb-inner);
  border-radius: 400px;
  opacity: 14%;
  height: 400px;
  width: 400px;
}

.orb-center {
  background-color: var(--orb-center);
  border-radius: 200px;
  opacity: 14%;
  height: 200px;
  width: 200px;
}

#orb-left {
  bottom: -380px;
  left: -280px;
}

#orb-left-inner {
  bottom: -230px;
  left: -130px;
}

#orb-left-center {
  bottom: -150px;
  left: -30px;
}

#orb-right {
  top: -320px;
  right: -220px;
}

#orb-right-inner {
  top: -220px;
  right: -120px;
}

#orb-right-center {
  top: -150px;
  right: -50px;
}

/* Keyframes */
@keyframes orb-anim {
  0% {
    transform: translate(-20px, -60px);
  }

  25% {
    transform: translate(20px, -40px);
  }

  50% {
    transform: translate(40px, 0px);
  }

  75% {
    transform: translate(20px, 40px);
  }

  100% {
    transform: translate(-20px, -60px);
  }
}

@media (min-width: 770px) {
  .project-arrow {
    transition: all 0.4s ease-in-out;
  }

  .project-card:hover .project-arrow {
    transform: translate(5px, -5px);
  }
}