/* Mesh gradient created with https://www.mshr.app/ */

@keyframes hero-gradient-animation {
  0% {
    --c-0: hsla(159.99999999999997, 48%, 8%, 1);
    --x-0: 75%;
    --y-0: 68%;
    --s-start-0: 6%;
    --s-end-0: 68%;
    --c-1: hsla(39.70588235294117, 37%, 11%, 0.96);
    --x-1: 45%;
    --y-1: 58%;
    --s-start-1: 6%;
    --s-end-1: 68%;
    --c-2: hsla(164.1176470588236, 31%, 9%, 1);
    --x-2: 80%;
    --y-2: 33%;
    --s-start-2: 6%;
    --s-end-2: 68%;
    --c-3: hsla(160, 48%, 6%, 1);
    --x-3: 3%;
    --y-3: 34%;
    --s-start-3: 6%;
    --s-end-3: 68%;
    --c-4: hsla(160, 48%, 6%, 1);
    --x-4: 19%;
    --y-4: 96%;
    --s-start-4: 6%;
    --s-end-4: 68%;
    --c-5: hsla(43.67647058823536, 34%, 9%, 1);
    --x-5: 19%;
    --y-5: 96%;
    --s-start-5: 6%;
    --s-end-5: 68%;
  }

  100% {
    --c-0: hsla(168.08823529411762, 53%, 8%, 1);
    --x-0: 9%;
    --y-0: 69%;
    --s-start-0: 6%;
    --s-end-0: 68%;
    --c-1: hsla(181.3235294117648, 35%, 8%, 1);
    --x-1: 24%;
    --y-1: 5%;
    --s-start-1: 6%;
    --s-end-1: 68%;
    --c-2: hsla(33.08823529411755, 51%, 35%, 0.67);
    --x-2: 1%;
    --y-2: 10%;
    --s-start-2: 6%;
    --s-end-2: 68%;
    --c-3: hsla(160, 48%, 6%, 1);
    --x-3: 39%;
    --y-3: 42%;
    --s-start-3: 6%;
    --s-end-3: 68%;
    --c-4: hsla(160, 48%, 7%, 1);
    --x-4: 52%;
    --y-4: 93%;
    --s-start-4: 6%;
    --s-end-4: 68%;
    --c-5: hsla(37.42857142857144, 49%, 15%, 0.75);
    --x-5: 52%;
    --y-5: 93%;
    --s-start-5: 6%;
    --s-end-5: 68%;
  }
}

@property --c-0 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(159.99999999999997, 48%, 8%, 1)
}

@property --x-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 75%
}

@property --y-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 68%
}

@property --s-start-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 6%
}

@property --s-end-0 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 68%
}

@property --c-1 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(39.70588235294117, 37%, 11%, 0.96)
}

@property --x-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 45%
}

@property --y-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 58%
}

@property --s-start-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 6%
}

@property --s-end-1 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 68%
}

@property --c-2 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(164.1176470588236, 31%, 9%, 1)
}

@property --x-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 80%
}

@property --y-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 33%
}

@property --s-start-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 6%
}

@property --s-end-2 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 68%
}

@property --c-3 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(160, 48%, 6%, 1)
}

@property --x-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 3%
}

@property --y-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 34%
}

@property --s-start-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 6%
}

@property --s-end-3 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 68%
}

@property --c-4 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(160, 48%, 6%, 1)
}

@property --x-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 19%
}

@property --y-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 96%
}

@property --s-start-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 6%
}

@property --s-end-4 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 68%
}

@property --c-5 {
  syntax: '<color>';
  inherits: false;
  initial-value: hsla(43.67647058823536, 34%, 9%, 1)
}

@property --x-5 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 19%
}

@property --y-5 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 96%
}

@property --s-start-5 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 6%
}

@property --s-end-5 {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 68%
}

body {
  --c-0: hsla(159.99999999999997, 48%, 8%, 1);
  --x-0: 75%;
  --y-0: 68%;
  --c-1: hsla(39.70588235294117, 37%, 11%, 0.96);
  --x-1: 45%;
  --y-1: 58%;
  --c-2: hsla(164.1176470588236, 31%, 9%, 1);
  --x-2: 80%;
  --y-2: 33%;
  --c-3: hsla(160, 48%, 6%, 1);
  --x-3: 3%;
  --y-3: 34%;
  --c-4: hsla(160, 48%, 6%, 1);
  --x-4: 19%;
  --y-4: 96%;
  --c-5: hsla(43.67647058823536, 34%, 9%, 1);
  --x-5: 19%;
  --y-5: 96%;
  ;
  background-color: hsla(160, 48%, 6%, 1);
  background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4)), radial-gradient(circle at var(--x-5) var(--y-5), var(--c-5) var(--s-start-5), transparent var(--s-end-5));
  animation: hero-gradient-animation 10s linear infinite alternate;
  background-blend-mode: normal, normal, normal, normal, normal, normal;
}